.main_div
{
    background-image: url("../download.jpeg");
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sub_div
{
    padding: 100px 550px;
    text-align: center;
}
#sign
{
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    border: 3px solid yellow;
    text-align: center;
    margin: 100px 0px 100px 600px;
    background-color: yellow;
    color: white;
    font-weight: 1000px;
    border-radius: 10px;
}
#contact
{
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    border: 3px solid yellow;
    text-align: center;
    margin: 100px 0px 50px 75px;
    background-color: white;
    color: yellow;
    font-weight: 1000px;
    border-radius: 10px;
}